{{#> layouts/base}}
  {{#*inline "content"}}
    <h2>Password Changed Successfully</h2>
    <p>Dear {{name}},</p>
    <p>Your password was successfully changed. If you did not make this change, please contact us immediately.</p>
    <div class="warning">
        <strong>Important:</strong> If you did not request this change, your account may be compromised.
    </div>
    <p>Best regards,<br>The {{appName}} Team</p>
  {{/inline}}
{{/layouts/base}} 